#section_abastecimento{
    height: auto;
    width: 100%;
    margin-top: 10rem;
    background: #ebebeb;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#abastecimento_div1{
    display: flex;
    justify-content: center;
    width: 100%;
}
#abastecimento_div1 >div{
   width: 75%;
}
#div-h1-abastecimento{
    width: 50%;
}
/* #abastecimento_div1 div >div{
    width: 50%;
} */
/* #section_abastecimento div{
    display: flex;
    width: 75%;
} */
#abastecimento_div1 >div{
    display: flex;
    gap: 4rem;
}
#texto-abastecimento div{
    width: 100%;
}
#section_abastecimento h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: #04080f;
}
#section_abastecimento p{
    line-height: 1.2rem;
    font-size: 0.8rem;
    color: #04080f;
}
#abastecimento_div2{
    height: 60vh;
    margin-top: 5rem;
}
#texto-abastecimento{
    display: block;
}
#butoon-reabastecimento{
    background:none;
    border: none;
    border-bottom: solid 2px black;
    color: black;
    padding: 1rem;
    padding-bottom: 0.4rem;
    font-size: 1rem;
    cursor: pointer;
}
#butoon-reabastecimento:hover{
    border-bottom: solid 2px green;
    color: green;
}
iframe{
    width: 100%;
}
#modal-img-sair img{
    width: 2rem;
    height: auto;
}
#modal-img-sair{
    display: flex;
    justify-content: right;
    background: none;
}
.modal-content-mapas{
    background: none;
}
#modal-img-sair button{
    background: none;
    cursor: pointer;
    border: none;
}
.modal-mapas {
    max-width: 50vmax;
    max-height: 60vmax;
    background-color: none;
    border-radius: 3px;
}
@media (max-width:720px){
    #section_abastecimento h1{
        font-size: 3rem;
    }
    #abastecimento_div1 > div{
        display: block;
    }
    #br{
        display: none;
    }
    #abastecimento_div1 div div{
        width: 100%;
        
    }
    #section_abastecimento p{
        text-align: justify;
    }
    #section_abastecimento h1{
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    #abastecimento_div2{
        height: 30vh;
        margin-top: 5rem;
    }
    .swiper-slide{
        width: 50px;
    }
    #div-butoon-reabastecimento{
        display: flex;
        justify-content: center;
    }
    .modal-mapas {
        max-width: 40vmax;
    }
}