header{
    display: flex;
    justify-content: center;
    padding: 1rem;

}
#teste{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

#btn-mobile{
    background: none;
    color: white;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}
#btn-mobile-contato{
    background: none;
    color: white;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}
header div{
    text-align: center;
}
.text_header{
    font-size: 1.2rem;
}
.text_logo{
    font-size: 1.3rem;
}
#btn-mobile:hover{
    border-bottom: solid 2px rgb(122, 0, 0);
}
#btn-mobile-contato:hover{
    border-bottom: solid 2px rgb(122, 0, 0);
}

.active{
    
    display: block;
}
#menu{
    display: block;
    position: absolute;
    width: 50%;
    top: 90px;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 0;
    z-index: 1000;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
}
#nav.active #menu{
    display: block;
    height: 100vh;
    visibility: visible;
}
#menu li{
    padding: 1rem;
    text-align: center;
}
.a_menu{
    font-size: 1.5rem;
}
#menu a{
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
#menu{
    padding-top: 1rem;
}
#menu a:hover{
    background: rgba(122, 0, 0, 0.5);
    border-bottom: solid 2px rgb(122, 0, 0);
}


/* menu contato */

#menucontato{
    display: block;
    position: absolute;
    width: 50%;
    top: 90px;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 0;
    z-index: 1000;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
}
#nav-contato.active #menucontato{
    display: block;
    height: 100vh;
    visibility: visible;
}
form div{
    padding-bottom: 1rem;
}
.button{
    background: none;
    font-size: 1.2rem;
    border: none;
    border-bottom: solid 1px white;
    cursor: pointer;
    padding: 1rem;
}
.button:hover{
    background: rgba(122, 0, 0, 0.5);
    border-bottom: solid 2px rgb(122, 0, 0);
}
input{
    background: none;
    color: white;
    border: solid 2px white;
    padding: 0.8rem;
    width: 80%;
    border-radius: 10px;
    font-size: 1rem;
}
textarea{
    background: none;
    color: white;
    border: solid 2px white;
    padding: 0.8rem;
    width: 80%;
    resize: none;
    border-radius: 10px;
    font-size: 1rem;
}


@media (max-width:720px){
    .text_header{
        font-size: 0.8rem;
    }
    .text_logo{
        font-size: 1rem;
    }
    #menucontato{
        width: 100%;
    }
    #menu{
        width: 100%;
    }
    #btn-mobile{
        font-size: 1rem;
    }
    #btn-mobile-contato{
        font-size: 1rem;
    }

}