#section_banco{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
#banco_img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
#section_banco > div{
    width: 68%;
    height: auto;
}
#section_banco img{
    height: auto;
    width: 100%;
    border-radius:20rem;
}
#banco_texto{
    display: flex;
}
#banco_texto p{
    font-size: 0.8rem;
    width: 60%;
    line-height: 1.2rem;
    margin-top: 1rem;
}
#section_banco h2{
    font-size: 1.2rem;
}
#banco_texto_direita p{
    padding-top: 0.5rem;
    margin-top: 0;
}
#divflutuando{
    width: 10vmax;
    height: auto;
    position: absolute;
    z-index: 9999;
    border-radius: 100%;
    padding: 1rem;
    right: 10rem;
    animation:rotacao 6s linear infinite;
}
@keyframes rotacao {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#divflutuando img{
    width: 100%;
    height: 100%;
}
@media (max-width:720px){
    #banco_texto{
        display: block;
    }
    #banco_texto p {
        width: 100%;
        text-align: justify;
    }
    #banco_texto h2{
        text-align: center;
    }
    #banco_texto_direita h2{
        text-align: left;
    }  
    #banco_texto_direita{
        margin-top: 1rem;
    }
    #divflutuando{
        right: 2rem;
    }
}
