#section_economia{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section_economia >div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
#mod_eco_1{
    background: url(../img/corn-3663086.jpg) no-repeat;
    background-size: cover;
    display: flex;
    /* justify-content: center; */
    align-items: flex-end;
}

#mod_eco_2{
    background: url(../img/eggs-944495.jpg) no-repeat;
    background-size: cover;
    display: flex;
    /* justify-content: center; */
    align-items: flex-end;
}
#mod_eco_3{
    background: url(../img/pig-3750943.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    /* justify-content: center; */
    align-items: flex-end;
}
#mod_eco_4{
    background: url(../img/salad-2325910.jpg) no-repeat;
    background-size: cover;
    display: flex;
    /* justify-content: center; */
    align-items: flex-end;
}

.modulos_economia:hover{
    /* opacity: 0.6; */
}
#mod_eco_1:hover{
    width: 17vmax;
    height: 41vmax;
}
#mod_eco_2:hover{
    width: 17vmax;
    height: 41vmax;
}
#mod_eco_3:hover{
    width: 17vmax;
    height: 41vmax;
}
#mod_eco_4:hover{
    width: 17vmax;
    height: 41vmax;
}
.modulos_economia h1{
    font-size: 2.5vmax;
    padding: 1rem;
    /* display: none; */
}

.modulos_economia{
    width: 16vmax;
    height: 40vmax;
}
.modulos_economia img{
    width: 100%;
    height: 100%;
}
.button-economia{
    background: none;
    font-size: 1.2vmax;
    padding: 1rem;
    border: none;
    cursor: pointer;
}