.container {
  height: 100vh;
  margin: auto;
  max-width: 1280px;
}

.container__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "modulo1 modulo2";
  height: 100%;
}

.modulos h1 {
  font-size: 3em;
  color: #575760;
}

#modulo1 {
  grid-area: modulo1;
  /* background: red; */
  display: flex;
  align-items: center;
}

#modulo1 > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#modulo2 {
  grid-area: modulo2;
  /* background: blue; */
  position: relative;
}

.container__infos {
  display: flex;
  gap: 4rem;
}

.textosSuperior {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.textosSuperior p {
  text-align: justify;
  color: #6E6E73;
}

.icon{
    font-size: 1.5rem;
}

.container__infosParceirosAssociados{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

.container__infosParceirosAssociados h3{
    font-size: 0.9em;
}

.container__infosParceirosAssociados p{
    font-size: 0.8em;
}

#img1{
    position: absolute;
    left: 30%;
    top: 30%;
    z-index: 100;
}

#img2{
    position: absolute;
    left: 15%;
    top: 20%;
}

#img2 img{
    width: 12rem;
    height: auto;
}

#img3{
    position: absolute;
    left: 48%;
    top: 10%;
}

#img3 img{
    width: 15rem;
    height: auto;
}

#img4{
    position: absolute;
    left: 50%;
    top: 42%;
}

#img4 img{
    width: 18rem;
    height: auto;
}

#img5{
    position: absolute;
    left: 15%;
    top: 46%;
}

#img5 img{
    width: 12rem;
    height: auto
}

.imgs img{
    border-radius: 30px;
}

.imgs:hover{
    transform: scale(1.01);
    z-index: 10000;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 95%;
    height: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .container__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "modulo1"
    "modulo2";
    height: 100%;
  }

  #modulo2 {
    display: none;
  }

  .modulos h1 {
    font-size: 1.2em;
    text-align: center;
  }
  
  .textosSuperior p {
    font-size: 0.8em;
  }

  
}

@media screen and (max-width: 768px) {
}
