.container {
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modulo__capa {
  height: 90vh;
  width: 100%;
  border-radius: 60px;
  background: #f5c211;
  padding: 8rem;
  color: #fff;
  display: flex;
}

.container__texto {
  width: 30%;
}

.container__texto p {
  padding-top: 1rem;
}

.container__formGeral {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
}

.container__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container__form input {
  background: #fff;
  border-radius: 10px;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  width: 100%;
}

.container__input {
  display: flex;
  gap: 1rem;
}

.container__form h1 {
  font-size: 3em;
}

.container__textarea textarea {
  background: #fff;
  border-radius: 10px;
  padding: 1rem 1rem;
  font-size: 1rem;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .container__texto {
    display: none;
  }

  .modulo__capa {
    height: auto;
    padding: 2rem;
    width: 100%;
  }

  .container__formGeral {
    width: 100%;
  }

  .container {
    height: auto;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    width: 100%;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .container__form h1 {
    font-size: 1.2em;
  }

  .modulo__capa {
    border-radius: 25px;
  }

  .container__form input {
    background: #fff;
    border-radius: 10px;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    width: 100%;
  }

  .container__input{
    flex-direction: column;
  }
  
}

@media screen and (max-width: 768px) {
}
