.container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  height: 75vh;
  padding-top: 7rem;
}

.container p {
  width: 40%;
  color: #6e6e73;
}

.container h1 {
  font-size: 5vmax;
  color: #6e6e73;
}

@media screen and (max-width: 1200px) {
  
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding-top: 4rem;
    height: 40vh;
  }
  
  .container h1 {
    font-size: 3vmax;
  }

  .container p {
    width: 100% !important;
    font-size: 0.8rem;
  }
  .br {
    display: none;
  }

  .container {
    width: 95%;
    margin: auto;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 65vh;
  }
}
