.container__navbar{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end !important;
}

.container{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    /* position: fixed; */
    width: 100%;
    z-index: 1000;
}

#logo img{
    height: 50px;
}

/*.scrolled{
    transition: 0.2s;
    background-color: rgba(245, 194, 17, 0.1); 
    backdrop-filter: blur(8px);
}*/